@base: #ffffff;
@base-dark: #2d3033;
@base-accent: #e84545;
@base-dark-light: #6c7279;
@base-ico: #c6cacc;

@font-base: "Raleway", sans-serif;
@font-mainTitle: "Open Sans", sans-serif;
@font-clientsReview: "Cardo", serif;
